<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Adefeyintikenny-Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mall/stylesheet/bootstrap.css' %}" />
</head>
<body class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Sign Up </h1>
            <form action="{% url 'mall:signup' %}" method="post">
                {% csrf_token %}

                <label for="first_name">Firstname: </label>
                <input name="first_name" id="first_name" type="text"/>

                <label for="last_name">Lastname: </label>
                <input name="last_name" id="last_name" type="text"/>

                <label for="email">Email: </label>
                <input name="email" id="email" type="email"/>

                <label for="password">Password: </label>
                <input name="password" id="password" type="password"/>


                <label for="telephone">Telephone: </label>
                <input name="telephone" id="telephone" type="tel"/>

                <label for="address">Address: </label>
                <input name="address" id="address" type="text"/>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</body>
</html>